[Unit]
Description=Chat app
After=network.target

[Service]
ExecStart=/opt/redispubsub/bin/www
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/redispubsub

[Install]
WantedBy=multi-user.target
