[Unit]
Description=Chat app
After=network.target

[Service]
ExecStart=/opt/chat/index.js
Restart=always
User=node-runtime
Group=node-runtime
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=PORT=80
Environment=REDIS_HOST=localhost
Environment=REDIS_PORT=6379
WorkingDirectory=/opt/chat

[Install]
WantedBy=multi-user.target
